.intestazione{
    background-color: lightskyblue;
    text-align: center;
    border-style: solid;
    border-color: cornflowerblue;
    border-width: 5px;
    padding: 10px;

    border-radius: 50px;
}
.nav-link{
    font-size: 20px;
    color: darkblue;
}

.contenitore{
    border-style: solid;
    width: 70px;
    height: 70px;
    position: absolute;
    top: 200px;
    left: 200px;
}
.simbolo{
    font-size: 40px;
}